# Lecture 1 - Introduction, Variables, and Print Statement

*Monday, June 1st 2020*

*Rahul Dani*

In this lecture, we will cover many fundamental topics to get you started!

## Topic 1 : Variables

Variables can be considered as an item that holds a value. You can put any value inside this item. 

Note that **Python is case-sensitive** (UPPERCASE names and lowercase names are different from each other). Be careful about using letters in different cases.

The format of the variables look like:

```
name = value
```

Some examples:

```
x = 5
y = 10
car = 73
bottle = 21
```

There are different types of variables:

**int** : *integer* (Example : 5, 14, -56)

**float** : *decimal numbers* (Example: 7.33, 1.5, 9.0, -13.67234 )

**bool** : *boolean values* (Example: True, False)

**str** : *text values/strings* (Example: 'hi', 'India', 'purple', 'ABC!', 'usa23'). Strings always need to have quotes(' ') around them.

Some examples of variables definition using different types:

```
city = 'tampa'
year = 2020
temperature = 75.6
is_hot = True
username = 'cat123'
number_one = '1'
```

**Task :** Can someone tell me what the types of each of the above variables are?

<!-- Answers:
    
* City is a string
* Year is an int
* Temperature is a float
* is_hot is a boolean
* username is a string
* number_one is a string -->

**Literals** are the values by itself.

For example:
```
3
'New York'
67.4
True
```

The way to check the type of a given variable using python is:

```
type(variable_name)
```

so if you wanted to check the type of the variable *city* the code looks like:

```
type(city)
```

Make sure to use the parenthesis after the word 'type' to run the type command on the city variable.

**Task :** Find the types of all the variables we used above. Make sure to define the variable first!

<!-- Answer: 

```
city = 'tampa'
year = 2020
temperature = 75.6
is_hot = True
username = 'cat123'
number_one = '1'

print(type(city))
print(type(year))
print(type(temperature))
print(type(is_hot))
print(type(username))
print(type(number_one))
``` -->

To check if two items or variables are the same use the **==** command.

Example: 

```
'cat' == 'cat'
abc == abc
123 == 123
True == False
```
You can also check the variable types of two variables using the == command.

Example:

```
type(2) == type(5)
type('name') == type('chicago')
type(word) == type(tampa)
type(True) == type(False) 
```

This would tell us if the two items have the same type.

**Task :** Make a new variable called 'color_one' equal to your favorite color. Then set another variable called 'color_two' to your second favorite color. Then check if the two colors are the same.

<!-- Answer:

```
#False Case
color_one = 'red'
color_two = 'black'
color_one == color_two

#True Case
color_one = 'red'
color_two = 'red'
color_one == color_two
``` -->

**Task :** Make a new variable called 'place' equal to your favorite city. Then check if place and 4.9 have the same type. What about place and 'miami', do they have the same type?

<!-- Answer:

```
place = 'gainesville'
print(type(place) == type(4.9))
print(type(place) == type('miami'))
``` -->

## Topic 2: Comment and Print

**Comments** are used to write notes about your code without actually running that line. To write a comment put **#** before that line of code.

Example:

```
# This is a comment
# This line will not run
This line will run because it is not a comment
```

Comments are also handy for testing a program. You can comment lines of code and see how they behave without those lines (Will cover this in detail in a future lecture).

**Task :** Make two variables called 'height' and 'weight' and set them as two float values respectively. Comment the weight variable.

<!-- Answer:
```
height = 6.3
#weight = 180.3
``` -->

**Print** Statements are used to printout/display the contents to the screen.

Example of syntax:
```
print('Hi')
print('This is a sentence.')
print(1+2)
print(367.123)
print(car)
```

Print can be done on both variables and literals. Even expressions such as '6*5' can be used within the print statement.

Similar to type, make sure to use the parenthesis after the word 'print' to run the print command on the variable or literal you choose.

**Task :** Print the string 'Hello World'. Create a new variable called name and make it equal to your name. Print the name variable and also print the sum of 15 and 3 to the screen. 

<!-- Answer:
```
print('Hello World')
name = 'Rahul'
print(name)
print(15+3)
``` -->

## Topic 3: Using Python as a Calculator

Python can be used as a calculator. Calculations such as addition, subtraction, and multiplication, and division can be used. We will practice doing this today. 

**Addition (+), Subtraction (-), Multiplication (*), and Division (/)**

**Task**: Find the sum of 3 and 2. 

<!-- Answer : 3+2 -->

**Task:** Print x + y where               
x = 4 - 2                           
y = 5 + 3

<!-- Answer:   
x = 4 - 2                
y = 5 + 3                   
print(x+y)            -->

**Task:** Print  z + m where                
z = 3 * 7     
m = 6/2            

<!-- Answer:

z = 3 * 7           
m = 6 / 2           
print (z+m)             -->



**Modulus/Remainder (%)** finds the remainder when two values are divided.

**Power** (***)  finds the power of the first value to the second value. Ex. 5 ** 2 is the same as 5^2.

**Floor/Integer Division (//)** divides the two numbers given and then rounds it to the lower number.

**Task:** Find the remainder of 7 divided by 3
<!-- Answer:
7 % 3 -->

**Task:** Find 17^3 and the floored solution of 10 divided by 3. 
Print both answers on seperate lines.

<!-- Answer:              
print(17**3)             
print(10//3)         
-->