# Lecture 2 - Naming Convention, Strings, and Booleans

*Wednesday, June 3rd 2020*

*Rahul Dani*

In this lecture, we will cover some important conventions to follow as well as learn about strings and booleans!

## Topic 1 : Naming Convention

**Naming conventions** are important because they make it easier for you as well as others to decipher the purpose of that variable just from its name. 

Some steps to follow:
- Keep the variables concise.       
- Variables CANNOT start with numbers.
- Variables can only start with a letter or underscore (_)   


There are two common styles used in programming:        
- camelCase     
- snake_case

Either convention can be used, but make sure to stay consistent throughout the program.

**camelCase**: The first word is lowercase and all the following words have the first letter written in UPPERCASE.

Ex.    
stringOne   
finalResult

**snake_case**: All words are written in lowercase and each word is seperated by an underscore.
Ex.    
string_one   
final_result

**Note:** In Python, the standard convention is snake_case.

**Task :** Can someone tell me which of the following string names are valid, which should be ideal?

1. numerical_digits
2. 2numerical_2digits
3. numericalDigits
4. num3rical_d1g1ts
5. 'numericaldigits'
6. _numericalDigits

## Topic 2 : Strings

Strings can be initialized using both single quotes (' ') as well as double quotes (" "). For this class, I will be primarily using single quotes.

Examples of string variable assignment:

```
car = 'mustang'
chemical = "chlorine"
pluto = 'not a planet!'
seventy_six = '76'
lion = ''
space = ' '
```
Notice the last two cases do not contain any text.

The lion variable is called an empty string. **Empty strings** contain nothing inside them, but they are valid strings.

The space variable contains just a space character. It is technically not empty.

We are also able to combine strings with each other. This process is known as **concatenation**.

Examples of concatenation:

```
'New'+'York' => 'NewYork'
'San '+'Francisco' => 'San Francisco'
'1' + '2' => '12'
'15.67'+'23.88'+'99.11' => '15.6723.8899.11'
```

Remember that this only works for strings. If you try 1+2 (without quotes) it would give you 3.

**Task :** Write your name but put the string '156.4' between your first and last name and print it out.

<!-- Answer:
```
print('Rahul'+'156.4'+'Dani')
``` -->

Strings can also be thought of as a **sequence of characters**.

For example:
```
'Atlanta' is a seqeuence of characters A-t-l-a-n-t-a.
```
**In most programming languages we start counting from 0 instead of 1.** This is the case for Python as well!

For example:

Normally we say the 1st character in 'Atlanta' is 'A' but in programming 'A' would be the 0th character and the 1st character would be 't'.

This concept is known as **0 index counting**.
From now on, unless stated differently, **I will be using 0 index counting** when I refer to character counting.

**Index** refers to the position in the string or any given list.

Task : What is the 4th character in the string 'Believe you can and you are halfway there'. What is the 11th character?

<!-- Answer:

```
s = 'Believe you can and you are halfway there'
print(s[4])
print(s[11])
``` -->

A handy way to do the above task without physically counting is to use the **slicing operator** [ ] to extract certain character from a string.

The operator has the following syntax:

```
variable[index] # This displays the index character of the variable.
variable[start:end] # This shows a subsequence of the string. Note: the end position is not inclusive. So it would show start to end-1
```

Example 1:
```
s = 'Life is like riding a bicycle. To keep your balance, you must keep moving'
print(s[5]) # This should print 'i' 
print(s[13]) # This should print 'r'
```

Example 2:

```
s = 'Life is like riding a bicycle. To keep your balance, you must keep moving'
print(s[0:4]) # This should print 'Life'
print(s[22:29]) # This should print 'bicycle'
```

Task : Extract the word 'balance' from the string 'Life is like riding a bicycle. To keep your balance, you must keep moving'.

<!-- Answer:
```
print(s[44:51])
``` -->

You can also **reverse** a string by having 

`variable[::-1]`

Example:
```
a = 'Kennedy'
print(a[::-1]) # prints out 'ydenneK'
```

#### Convert between different types

You can convert between different types by enclosing your variable within the words:

*   str()
*   float()
*   int()

Examples:
```
str(123) # results in '123'
str(50.3) # results in '50.3'
float(5) # results in 5.0
int('134') # results in 134
int(18.9) # results in 18

pi = 3.14
int(pi) # results in 3
```

Task : Take a 5 digit integer, convert it to a string, then reverse it. (Backwards)

<!-- Answer:

```
a = 63529
b = str(a)
c = b[::-1]
print(c)
``` -->

## Topic 3 : Booleans

As mentioned previously, booleans are also a data type.

Booleans can take values of True or False.

Example:

    fact = True
    idea = False

There are a few boolean operators in python. They are: and, or, not.

The **'and'** operator checks if the left AND right values are true.

![alt text](https://i.imgur.com/FjrJG1c.jpg)

For example:

    a = True
    b = False
    print(a and b) # results in False because the b variable is False

    c = False
    d = False
    print(c and d) # results in False because both the c and d variables are False

The **'or'** operator checks if the left OR right values are true.

![alt text](https://i.imgur.com/BfWWeS6.jpg)

For example:

    a = True
    b = False
    print(a or b) # results in True because the a variable is True

    c = False
    d = False
    print(c or d) # results in False because both the c and d variables are False

The **'not'** operator takes the inverse of the boolean variable.

![alt text](https://i.imgur.com/ZSFO8jJ.jpg)

For example:

    a = True
    b = not a
    print(b) # results in False because b is not a and a is True.

    c = False
    d = not False
    print(d) # results in True because b is not False which is True.

Operation Precedence (highest to lowest):

*   not
*   and
*   or

**Task :** What is the value of the 'd' variable in this case?

    a = True or False
    b = not a
    c = False and b
    d = not c or a

There are also many **comparator operators** in python. Comparator operators result in boolean as the output. Some of them are:

    > # greater than
    < # less than
    >= # greater than or equal to
    <= # less than or equal to
    == # equals, we have talked about this before.
    != # not equals

Examples:

    a = 5
    b = 7
    print(a < b) # results in True

    c = 12
    d = 37.5
    print(b != c) # results in True

    e = 'hi'
    f = 'bye'
    print(e == f) # results in False

You are also able to combine comparators with boolean operators! This might be hard to grasp at first, but you'll get better with practice.

For example:

    a = 17
    b = 25
    c = (a <= 20)                         # the value of c is True because a <= 20
    d = (not c and True) or (b > 30)      # the value of d is False

**Task :** What is the value of the 'h' variable?

    e = (17 < 25)
    f = not e or (21 > 10)
    g = f and True
    h = not g and e

Lets go over the Practice Problems from previous lectures (if time permits):

Lecture 1 : https://colab.research.google.com/drive/1RlMF5WD6YvUf7sbGs0XkpYyWvOLyT30b?usp=sharing

Lecture 2 : https://colab.research.google.com/drive/14B7NaXdTWmfFhb6wRldo8nTdPMHNX7fZ?usp=sharing